<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangtl.dao.UserDao">

    <select id="getPasswordByUserName" resultType="java.lang.String">
        select password from users where user_name =#{userName}
    </select>

    <select id="getRolesByUserName" resultType="java.lang.String">
        select r.role_id from roles r
        LEFT JOIN user_roles ur on r.role_id = ur.role_id
        LEFT JOIN users u on ur.user_id = u.user_id
        where u.user_name = #{userName}
    </select>

    <select id="getPermissionsByUserName" resultType="java.lang.String">
        select p.permission_id from permissions p
        LEFT JOIN roles_permissions rp on p.permission_id=rp.permission_id
        LEFT JOIN user_roles ur on rp.role_id = ur.role_id
        LEFT JOIN users u on ur.user_id=u.user_id
        where u.user_name = #{userName}
    </select>
</mapper>